body {
    margin: 0;
    padding: 0;
    background-color: #b9e6ff;
    font-family: "Lexend", sans-serif;
}
button,
input {
    font-family: "Lexend", sans-serif;
}
button:hover {
    cursor: pointer;
}
.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    background-color: #004777;
    padding: 4px 0;
    height: 83px;
    z-index: 1;
}

.logo {
    width: 20%;
    text-align: center;
    color: white;
}

.navlink {
    margin: 0px 40px;
}

.navlink.active {
    color: #2dd881;
}

.navbar-navlink-wrapper {
    width: 60%;
}

.navbar-buttons-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 20%;
    display: none;
    opacity: 0;
    transition: 1s;
}

.navbar-user-info {
    max-width: 70%;
    display: block;
    float: right;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    right: 20px;
}

.navbar-user {
    width: 40%;
    color: #2dd881;
    font-size: 20px;
    display: none;
    opacity: 0;
    transition: 1s;
    line-height: 50px;
    overflow: hidden;
}

.navlink {
    color: white;
    text-decoration: none;
    font-size: 28px;
}

.auth-modal {
    /* display: grid; */
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    place-items: center;
    opacity: 0;
    transition: 0.3s;
    z-index: 2;
}
.modal-outside {
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.modal-box {
    position: relative;
    display: none;
    background-color: #a663cc;
    width: 400px;
    border-radius: 16px;
    justify-content: center;
    z-index: 2;
}

.close-auth-modal {
    position: absolute;
    font-size: 36px;
    padding: none;
    margin: 0 6px;
    top: 0;
    right: 0;
    border: none;
    background-color: transparent;
    color: white;
}

.modal-box.login {
    /* display: grid; */
    grid-auto-rows: 100px 60px 60px 100px;
}

.modal-box.register {
    /* display: grid; */
    grid-auto-rows: 100px 60px 40px 40px 40px 100px;
}

.modal-box.password-reset {
    /* display: grid; */
    grid-auto-rows: 100px 40px 100px;
}

.modal-info {
    text-align: center;
    line-height: 20px;
    color: white;
    font-size: 16px;
}

.login-button {
    background-color: #5c95ff;
    border: none;
    border-radius: 8px;
    font-size: 20px;
    padding: 12px;
    font-weight: bold;
    color: white;
}

.logout-button {
    background-color: #f87575;
    border: none;
    border-radius: 8px;
    font-size: 20px;
    padding: 12px;
    font-weight: bold;
    color: white;
    float: right;
    margin-right: 24px;
}

.signup-button {
    background-color: #0cb15c;
    border: none;
    border-radius: 8px;
    font-size: 20px;
    padding: 12px;
    font-weight: bold;
    color: white;
}

.submit-button {
    background-color: #0cb15c;
    border: none;
    border-radius: 8px;
    font-size: 20px;
    padding: 12px;
    font-weight: bold;
    color: white;
}

.auth-title {
    color: white;
    text-align: center;
}

.auth-input {
    border-radius: 4px;
    width: 250px;
    height: 30px;
    border: none;
    text-align: center;
    font-size: 16px;
}

.forgot-password {
    display: block;
    margin-top: 8px;
    border: none;
    background-color: transparent;
    color: white;
    text-decoration: underline;
}

.modal-buttons-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    z-index: 2;
}
