.leaderboard{
    margin-left: 16.5%;
    margin-right: 16.5%;
    width: 66%;
    background-color: #527a54;
    padding-bottom: 1%;
    padding-top: 2%;
    border-radius: 2rem;
    margin-top: 3rem;
    display: grid;
    place-items: center;
}
.hidden-title{
    color: white;
    text-align: center;
    font-size: 5rem;
    margin: 0;
    opacity: 0;
    transition: opacity .5s ease-out;
}
.leaderboard-title{
    color: white;
    text-align: center;
    font-size: 5rem;
    margin: 0;
    visibility: visible;
    opacity: 1;
    transition: opacity .5s ease;
}
.rating-list{
    list-style-type: none;
    width: 95%;
    padding: 0px;
    opacity: 1;
    transition: opacity .4s ease;
}
.rating-list-hidden{
    list-style-type: none;
    width: 95%;
    padding: 0px;
    opacity: 0;
    visibility: hidden;
    transition: opacity .4s ease-out, visibility 0s .4s ease-out;
}
.rating-item{
    display: grid;
    grid-template-columns: 75% 25%;
    height:  5rem;
    border-radius: 1rem;
    margin-bottom: .5rem;
    padding-left: .5rem;
    padding-right: .5rem;
}
.first-place {
    background-color: #CFB53B;
}
.second-place {
    background-color: silver;
}
.third-place {
    background-color: #B38A58;
}
.nth-place {
    background-color: thistle;
}
.placement-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.placement {
    font-size: 3rem;
}
.suptext {
    font-size: 2rem;
    padding-bottom: 1rem;
}
.rated-name {
    display: flex;
    align-items: center;
    font-size: 3rem;
    padding-left: 1.5rem;
    color: black;
    text-decoration: none;
}
.rated-elo {
    display: flex;
    align-items: center;
    justify-self: end;
    font-size: 3rem;
}
.user-search{
    width: 85%;
    height: 50px;
    font-size: 28px;
    border-radius: 10px;
    margin-top: 10px;
    padding: 5px;
    padding-left: 10px;
    border:none;
    background-color: #B1D3B6;
    margin-bottom: 3px;
}
.user-search:focus{
    border-radius: 10px; 
    outline: none;
    border-bottom: 3px solid #456840;
    margin-bottom: 0px;
} 
.user-search-slide-up{
    width: 85%;
    height: 50px;
    font-size: 35px;
    outline: none;
    border:none;
    border-bottom: 3px solid #456840;
    border-radius: 10px; 
    background-color: #B1D3B6;
    margin-bottom: 0px;
    transform: translateY(-100px);
    transition: .4s .4s ease-out;
}
.user-search-slide-down{
    width: 85%;
    height: 50px;
    font-size: 28px;
    border-radius: 10px;
    margin-top: 10px;
    padding: 5px;
    padding-left: 10px;
    outline:none;
    border:none;
    background-color: #B1D3B6;
    margin-bottom: 3px;
    transition: .4s ease-out;
}
.search-results-wrapper{
    display: flex;
    margin-bottom: -100%;
    opacity: 0;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 80%;
    gap: 5%;
    margin-top: 10px;
    transition: transform 2s ease-out, opacity 2s ease-out;
}
.slide-up{
    opacity: 1;
    margin-bottom: 30px;
    transform: translateY(-100px);
}
.result{
    width: 46%;
    height: 75px;
    border-radius: 10px;
    background-color: thistle;
    margin-top: 10px;
    display: flex;
}
.result a{
    font-weight: bold;
}
.name-wrapper{
    color: black;
    padding-top: 25px;
    padding-left: 10px;
    width: 25%;
    text-decoration: none;
}
.rank-wrapper{
    width: 75%;
    justify-content: left;
    display: flex;
    gap: 10px;
    padding-left: 10px;
}
.rank-wrapper img{
    padding-top: 9.5px;
    height: 56px;
}
.result p{
    padding-top: 11px;
}
.no-results-wrapper{
    display: grid;
    place-items: center;
    margin-top: 25px;
}
.no-results-wrapper h2{
    margin: 0;
}