.gamemodes {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
}

.gamemode.casual {
    background-color: #912f56;
    border-radius: 16px;
    padding: 16px;
    margin: 18px 0;
    margin-top: 36px;
    width: 700px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* color: #ffafc5; */
    color: rgba(255, 255, 255, 0.55);
}

.gamemode.competitive {
    background-color: #527a54;
    border-radius: 16px;
    padding: 16px;
    margin: 18px 0;
    width: 700px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* color: #b8d4b9; */
    color: rgba(255, 255, 255, 0.55);
    position: relative;
}

.gamemode-locked {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    border-radius: 16px;
    place-items: center;
    font-size: 24px;
    transition: 0.5s;
    opacity: 0;
    display: none;
}

.gamemode-title {
    margin-left: 20px;
    width: 40%;
    color: white;
}

.gamemode-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
}

.gamemode-desc {
    margin-top: 4px;
}
.gamemode-button {
    border: none;
    border-radius: 8px;
    font-size: 20px;
    margin-top: 12px;
    padding: 8px 16px;
    font-weight: bold;
    color: white;
    float: right;
}
.gamemode-button.casual {
    /* background-color: #f487b6; */
    background-color: rgba(255, 255, 255, 0.5);
}
.gamemode-button.competitive {
    /* background-color: #89c289; */
    background-color: rgba(255, 255, 255, 0.5);
}

.subgamemodes {
    display: flex;
    flex-direction: row;
    width: 732px;
    justify-content: space-between;
}

.subgamemode {
    width: 48%;
    background-color: #004777;
    margin: 16px 0px;
    border-radius: 16px;
    /* color: #b9e6ff; */
    display: flex;
    color: rgba(255, 255, 255, 0.55);
    flex-direction: column;
    align-items: center;
}

.subgamemode-title {
    text-align: center;
    margin-bottom: 4px;
    color: white;
}

.subgamemode-desc {
    text-align: center;
    padding: 0 5%;
    margin: 8px;
}

.subgamemode-button {
    /* background-color: #74bbe0; */
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    border-radius: 8px;
    font-size: 20px;
    margin-top: 8px;
    margin-bottom: 16px;
    padding: 8px 16px;
    font-weight: bold;
    color: white;
}
#main-menu {
    z-index: -2;
}
.main-menu-wrapper {
    flex-direction: column;
    align-items: center;
    display: flex;
    /* display: none; */
}

.profile-card {
    width: 40%;
}

.body-title {
    color: #3bac72;
    margin-bottom: 0;
}

#ingame {
    display: none;
    position: absolute;
    top: 90px;
    bottom: 0px;
    width: 100%;
    overflow: hidden;
    z-index: 1;
    opacity: 0;
    transition: 0.5s;
}
.ingame-player {
    display: none;
    float: left;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 50%;
    height: 100%;
    overflow: hidden;
    color: white;
}

#player1 {
    background-color: #912f56;
}

#player2 {
    background-color: #527a54;
}

#player3 {
    background-color: #004777;
}

#player4 {
    background-color: #8b912f;
}

.finding-player {
    width: 50%;
    height: 100%;
    float: left;
    display: grid;
    place-items: center;
    background-color: #b66b89;
    color: white;
    font-size: 36px;
}

.ingame-bomb {
    position: relative;
}

.ingame-timer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 24px;
}

.ingame-bomb-img {
    position: relative;
    top: -17px;
    left: 23px;
}

.ingame-lives {
    font-size: 36px;
}

.ingame-username {
    font-size: 36px;
}

.ingame-input {
    padding: 8px;
    font-size: 24px;
    border-radius: 8px;
    /* border: ; */
}

.leave-button {
    display: none;
    position: absolute;
    top: 16px;
    left: 16px;
    background-color: #f87575;
    border: none;
    border-radius: 8px;
    font-size: 20px;
    padding: 12px;
    font-weight: bold;
    color: white;
    float: right;
    margin-right: 24px;
}
